<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VJQ1R98WPW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VJQ1R98WPW');
    </script>
    <meta charset="UTF-8">
    <title>DailyTasksTools</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static',filename='images/favicon.svg') }}">

</head>


<body>
    <div class="topnav">
        <a class="active" href="#"><i class="fa-solid fa-screwdriver-wrench">OnlineTools</i> </a>
        <a href="{{ url_for('main.list_to_array') }}">List to Array</a>
        <!-- <a href="{{ url_for('main.text_editor') }}">Text Editor</a> -->
        <a href="{{ url_for('main.yaml_parser') }}">YAML Parser</a>
        <a href="{{ url_for('main.sql_formatter') }}">SQL Formatter</a>

    </div>

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>