<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>OnlineTools</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static',filename='images/favicon.svg') }}">

</head>

<body>
    <div class="topnav">
        <a class="active" href="#"><i class="fa-solid fa-screwdriver-wrench">OnlineTools</i> </a>
        <a href="{{ url_for('main.list_to_array') }}">List to Array</a>
        <a href="{{ url_for('main.text_editor') }}">Text Editor</a>
    </div>

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>