{% extends 'base.html' %}

{% block content %}
<!-- <iframe src="https://onlinetools-list-to-array.streamlit.app/?embed_options=light_theme,disable_scrolling" width="600"
    height="600">
    <p>Your browser does not support iframes.</p> ?embed=true&embed_options=light_theme&embed_options=hide_loading_screen
</iframe> -->

<iframe frameborder="0"
  src="https://onlinetools-list-to-array.streamlit.app/?embedded=true"
  style="height: 800px; width: 100%; top: auto; bottom:auto; left:auto; right:auto; border: none;"
></iframe>

<!-- <iframe id="ai_123" src="https://onlinetools-list-to-array.streamlit.app/" </iframe> -->
    <!-- 
    sandbox="allow-same-origin allow-scripts allow-top-navigation allow-popups allow-pointer-lock allow-forms"
    style=" position:fixed; height: 100%; width: 100%; top: auto; bottom:auto; left:auto; right:auto; border: none;"
    allowfullscreen sandbox> </iframe> -->
{% endblock %}